<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Add new item</h4>
  <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
<div *ngIf ="pageName === 'role'">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12 form-group">
          <label class="control-label">Role Title</label>
          <input type="text" class="form-control" [(ngModel)]="model.roleTitle" placeholder="Role Title">
        </div>
        <div class="col-md-12 form-group">
          <label class="control-label">Description</label>
          <textarea class="form-control" [(ngModel)]="model.roleDescription" placeholder="Description"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
  <div *ngIf ="pageName === 'skill'">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12 form-group">
            <label class="control-label">Skill Title</label>
            <input type="text" class="form-control" [(ngModel)]="model.skillTitle" placeholder="Skill Title">
          </div>
          <div class="col-md-12 form-group">
            <label class="control-label">Search for category</label>
            <input id="typeahead-basic" type="text" class="form-control" [(ngModel)]="model.skillCategory" [ngbTypeahead]="searchCategory"/>
          </div>
          <div class="col-md-12 form-group">
            <label class="control-label">Description</label>
            <textarea class="form-control" placeholder="Description" [(ngModel)]="model.skillDescription"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf ="pageName === 'permission'">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12 form-group">
            <label class="control-label">Permission Title</label>
            <input type="text" class="form-control" placeholder="Permission Title" [(ngModel)]="model.permissionTitle">
          </div>
          <div class="col-md-12 form-group">
            <label class="control-label">Description</label>
            <textarea class="form-control" placeholder="Description" [(ngModel)]="model.permissionDescription"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="pageName === 'category'">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12 form-group">
            <label class="control-label">Category Title</label>
            <input type="text" class="form-control" placeholder="Category Title" [(ngModel)]="model.categoryTitle">
          </div>
          <div class="col-md-12 form-group">
            <label class="control-label">Description</label>
            <textarea class="form-control" placeholder="Description" [(ngModel)]="model.categoryDescription"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="pageName === 'training'">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12 form-group">
            <label class="control-label">Training Title</label>
            <input type="text" class="form-control" [(ngModel)]="model.trainingTitle" placeholder="Training Title">
          </div>
          <div class="col-md-12">
            <label for="typeahead-basic">Search for a skill:</label>
            <input id="typeahead-basic" type="text" class="form-control" [(ngModel)]="model.modelSkill" [ngbTypeahead]="searchSkill" placeholder="Skill Title"/>
          </div>
          <div class="col-md-12 form-group">
            <label class="control-label">Descrpition</label>
            <textarea class="form-control" placeholder="Training description" [(ngModel)]="model.trainingDescription"></textarea>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
  <button type="button" ngbAutofocus class="btn btn-danger" (click)="passBack(this.model)">Add</button>
</div>
